services:
  app-server:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VITE_API_URL: ${VITE_API_URL}
    ports:
      - "8006:80"
    restart: always
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
