services:
  app-frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - VITE_API_URL=${VITE_API_URL}
    ports:
      - "8005:80"
    environment:
      - VITE_API_URL=${VITE_API_URL}
    restart: always
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
